<div class="bg-white flex flex-row">
    <div class="flex space-x-8">
        <div class="w-1/2">
            <div class="mt-5 flex flex-row">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="currentColor"
                         class="w-16 h-20 px-3">
                        <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"/>
                        <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"/>
                    </svg>
                </div>
                <div>
                    <h2 class="text-sm px-2 py-1 my-2 outline-none">Email : </h2>
                    <p class="text-sm px-2 py-1 my-2 outline-none">abdrazakowa@gmail.com </p>
                </div>
            </div>
            <div class="mt-5 flex flex-row">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="currentColor"
                         class="w-16 h-20 px-3">
                        <path fill-rule="evenodd"
                              d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
                <div>
                    <h2 class="text-sm px-2 py-1 my-2 outline-none">Phone : </h2>
                    <p class="text-sm px-2 py-1 my-2 outline-none">+49 12 345678 </p>
                </div>
            </div>
            <div class="mt-5 flex flex-row">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="currentColor"
                         class="w-16 h-20 px-3">
                        <path fill-rule="evenodd"
                              d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
                <div>
                    <h2 class="text-sm px-2 py-1 my-2 outline-none">Address :</h2>
                    <p class="text-sm px-2 py-1 my-2 outline-none">Str. der Nationen 62, 09111 Chemnitz </p>
                </div>
            </div>
        </div>
        <div class="w-1/2 px-14">
            <div class="w-96 py-6" id="contact_us">
                <form action="https://formsubmit.co/abdrazakowa@gmail.com"
                      method="post">
                    <input type="text"
                           name="name"
                           placeholder="Full Name"
                           class="w-full text-xs px-2 py-2 h-10 my-2 outline-none rounded-md border focus:shadow-sm">
                    <br>
                    <input type="email"
                           name="email"
                           placeholder="Email"
                           class="w-full text-xs px-2 py-2 h-10 my-2 outline-none rounded-md border focus:shadow-sm"
                           required>
                    <br>
                    <textarea name="message" placeholder="Enter Your Message" class="w-full text-xs px-2 py-2 h-20 my-2 outline-none rounded-md border focus:shadow-sm resize-none" required></textarea>
                    <br>
                    <button type="submit"
                            class="bg-gray-800 w-full px-2 h-8 my-2 rounded-md border text-white text-xs cursor-pointer hover:shadow-md">
                        Send
                    </button>
                    <input type="hidden"
                           name="_captcha"
                           value="false">
                    <input type="hidden"
                           name="_subject"
                           value="DEEMa">
                    <input type="hidden"
                           name="_next"
                           value="https://deema-flame.vercel.app/">
                </form>
            </div>
        </div>
    </div>
</div>
