<section class="pb-20 relative block bg-gray-900">
    <div
            class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
            style="height: 80px; transform: translateZ(0px);"
    >
        <svg
                class="absolute bottom-0 overflow-hidden"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                version="1.1"
                viewBox="0 0 2560 100"
                x="0"
                y="0"
        >
            <polygon
                    class="text-gray-900 fill-current"
                    points="2560 0 2560 100 0 100"
            ></polygon>
        </svg>
    </div>
</section>
<section class="bg-gray-900" >
    <div class="pt-20 pb-48 container mx-auto px-4 ">
        <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-4xl font-semibold text-white">Here are our heroes</h2>
                <p class="text-lg leading-relaxed m-4 text-gray-600">
                    A close-knit team of developers who
                    solve problems in the fulfillment of any
                    customer requests.

                </p>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="w-full md:w-6/12 lg:w-1/5 lg:mb-0 mb-6 px-4">
                <div class="px-6">
                    <img
                            alt="..."
                            src="./assets/img/evgenii_bild.jpg"
                            class="shadow-lg rounded-full max-w-full mx-auto"
                            style="max-width: 100px;"
                    />
                    <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold text-white">Evgenii Abdrazakov</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Team Lead / Web developer
                        </p>
                        <div class="mt-6">
                            <button
                                    class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                    onclick="window.open('https://www.linkedin.com/in/evgenii-abdrazakov', '_blank');" type="button"
                            >
                                <i class="fab fa-linkedin"></i></button
                            >
                            <button
                                    class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"

                                    onclick="window.open('https://www.instagram.com/ovaday/', '_blank');" type="button">

                                <i class="fab fa-instagram"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-1/5 lg:mb-0 mb-6 px-4">
                <div class="px-6">
                    <img
                            alt="..."
                            src="./assets/img/kate_bild.jpg"
                            class="shadow-lg rounded-full max-w-full mx-auto"
                            style="max-width: 100px;"
                    />
                    <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold text-white">Ekaterina Pavlova</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Middle Developer / Designer
                        </p>
                        <div class="mt-6"></div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-2/12 lg:w-1/5 lg:mb-0 mb-6 px-4">
                <div class="px-6">
                    <img
                            alt="..."
                            src="./assets/img/daria_bild.jpg"
                            class="shadow-lg rounded-full max-w-full mx-auto"
                            style="max-width: 100px;"
                    />
                    <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold text-white">Daria Raikina</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Web Developer
                        </p>
                        <div class="mt-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-1/5 lg:mb-0 mb-6 px-4">
                <div class="px-6">
                    <img
                            alt="..."
                            src="./assets/img/shahzad_bild.jpg"
                            class="shadow-lg rounded-full max-w-full mx-auto"
                            style="max-width: 100px;"
                    />
                    <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold text-white">Shahzad Khan</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Software Engineer
                        </p>
                        <div class="mt-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-1/5 lg:mb-0 mb-6 px-4">
                <div class="px-6">
                    <img
                            alt="..."
                            src="./assets/img/nikita_bild.jpg"
                            class="shadow-lg rounded-full max-w-full mx-auto"
                            style="max-width: 100px;"
                    />
                    <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold text-white">Mykyta Vasyliev</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Web Developer
                        </p>
                        <div class="mt-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>